*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
/build/
/captures/
/.externalNativeBuild/
/.cxx/
app/build/
debug/__pycache__/
debug/.pytest_cache/
.venv/
kotlin.log
*.apk
*.ap_
releases/
.tmp_MM_Garden_inspect/
